.register * {
    box-sizing: border-box;
    padding: auto;
  }
  
  .register .flex-container {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
  }
  
  .register .flex-container .flex-item-left {
    background-color: #B8D1F6;
    padding: 10px;
    flex: 20%;
    height: 1000px;
  }
  
  .register .flex-container .flex-item-right {
    padding: 0px;
    flex: 80%;
    height: 100%;
    text-align: center;
  }
  .register .flex-container .flex-item-right  .formDiv
  {
      margin-top: 5%;
  }
 .register .flex-container .flex-item-right  #lname {
    width: 60%;
    padding: 12px 20px;
    margin: 18px 0px;
    display: inline-block;
    border: 2px solid green;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    background-color: #dfdede;
    font-size: large;
    border-radius: 10px;
  }
  
  .register .flex-container .flex-item-right  input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1rem;
  }
  
 .register .flex-container .flex-item-right  input[type=submit]:hover {
    background-color: #45a049;
  }
  .register .flex-container::placeholder
  {
      font-size: large;
      font-weight: 600;
  }
  .register .flex-container .flex-item-right .right_head
  {
      font-size: 3.3rem;
      font-weight: 700;
      color: #000;
      margin-top: 30px;
  }
  .register .flex-container .flex-item-left  .left_content .content
  {
      height: 100px;
      width: 100%;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 600;
      border-radius: 10px;
      padding-top: 30px
  }
  .register .flex-container .flex-item-left .left_content .content:hover
  {
      background-color: #3958C7;
      cursor: pointer;
  }

  
.formDiv  button
{
  display: block;
  height: 30px;
  width: 170px;
  margin: 0 auto;
  background-color: skyblue;
  color: white;
  padding-bottom: 30px;
  padding-top: 10px;
  border-radius: 10px;
  text-align: center;
  border: 5px solid skyblue;
  font-size: 1.2rem;
  font-weight: 600;
}
.formDiv  button:hover
{
   background-color:darkblue;
   transition: 0.2s;
   border : 5px solid darkblue;
}
.formDiv  button:active
{
  background-color: red;
}


  
  /* Responsive layout - makes a one column-layout instead of two-column layout */
  @media (max-width: 800px) {
    .register .flex-container .flex-container {
      flex-direction: column;
    }
  }

 