.test{
    padding:3% 4%;
}

  .test .control {
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      margin-top: 120px;
  }
  .test .control button{
    border:0px solid;
    width: 150px;
    padding:10px;
    border-radius: 40px;
    background: #16A309;
    color:#fff;
}

.test .msg{
    height: 75px;    
    background: #E1E1E1;
    box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content:center;
    flex-direction: column;
    padding:10px;
    margin-top:40px
}
.test .msg  p{
    line-height:4px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}
.test .msg  p span{
    color: red;
}